<nav class="navbar">
  <ul class="navbar-list">
    <li>
      <a routerLink="/sobre" routerLinkActive="active" class="navbar-item"
        >Sobre</a
      >
    </li>
    <li>
      <a routerLink="/posts" routerLinkActive="active" class="navbar-item"
        >Posts</a
      >
    </li>
    <li>
      <a routerLink="/curriculos" routerLinkActive="active" class="navbar-item"
        >Currículos</a
      >
    </li>
    <li>
      <a routerLink="/vagas" routerLinkActive="active" class="navbar-item"
        >Vagas</a
      >
    </li>
  </ul>
</nav>
