<div class="sobre-container">
  <!-- Seção da Logo -->
  <div class="logo-container">
    <img
      src="../../../assets/svg/logogrande.svg"
      alt="Logo da Posta"
      class="logo"
    />
  </div>

  <!-- Seção do Texto -->
  <div class="texto-container">
    <h1>Sobre a Posta</h1>
    <p>
      A <strong>Posta</strong> é uma plataforma inovadora onde você pode criar e
      compartilhar seu currículo com facilidade. Nosso objetivo é proporcionar
      uma maneira simples e eficiente de os profissionais se conectarem com
      novas oportunidades de trabalho.
    </p>
    <p>
      Além de permitir que você publique seu currículo de forma rápida e
      prática, a <strong>Posta</strong> também oferece a possibilidade de
      realizar publicações sobre sua trajetória profissional, projetos
      realizados, e muito mais. Conectando você a empresas e recrutadores de
      todo o mundo.
    </p>
    <p>
      Com a <strong>Posta</strong>, você tem controle total sobre sua
      visibilidade profissional, podendo atualizar seu perfil, destacar suas
      habilidades e experiências, e interagir com outros profissionais de forma
      simples e ágil.
    </p>
  </div>
</div>
